@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #42b983;
    font-weight: 600;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0px 0px 1rem;
}

h2 {
    font-size: 1.75rem;
    margin: 45px 0px 0.8rem;
}

footer {
    background: #42b983;
}